/* Common */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Tooltip */
@keyframes tooltip-in {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes tooltip-out {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.9;
  }
}

[data-part="content"] {
  transform-origin: var(--transform-origin);

  &[data-placement^="top"] {
    transform-origin: bottom center;
  }

  &[data-placement^="bottom"] {
    transform-origin: top center;
  }

  &[data-placement^="left"] {
    transform-origin: right center;
  }

  &[data-placement^="right"] {
    transform-origin: left center;
  }

  &[data-state="open"] {
    animation: tooltip-in 0.15s ease-out;
  }

  &[data-state="closed"] {
    animation: tooltip-in 0.15s ease-in;
  }
}

/* Drawer */
@keyframes drawer-slide-in-bottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(var(--drawer-translate-x, 0), var(--drawer-translate-y, 0), 0);
  }
}

@keyframes drawer-slide-out-bottom {
  from {
    transform: translate3d(var(--drawer-translate-x, 0), var(--drawer-translate-y, 0), 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes drawer-slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(var(--drawer-translate-x, 0), var(--drawer-translate-y, 0), 0);
  }
}

@keyframes drawer-slide-out-left {
  from {
    transform: translate3d(var(--drawer-translate-x, 0), var(--drawer-translate-y, 0), 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

[data-scope="drawer"] {
  &[data-part="content"] {
    will-change: transform, translate;

    transform: translateY(var(--drawer-swipe-movement-y, 0px));
    transition: transform 500ms cubic-bezier(0.32, 0.72, 0, 1);

    &[data-swiping] {
      transition-duration: 0ms;
    }

    &[data-swipe-direction="left"] {
      &[data-state="open"] {
        animation: drawer-slide-in-left 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
      }
      &[data-state="closed"] {
        animation: drawer-slide-out-left 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
      }
    }

    &[data-swipe-direction="bottom"] {
      &[data-state="open"] {
        animation: drawer-slide-in-bottom 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
      }
      &[data-state="closed"] {
        animation: drawer-slide-out-bottom 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
      }
    }
  }

  &[data-part="backdrop"] {
    background-color: rgb(0 0 0 / calc(0.8 * (1 - var(--drawer-swipe-progress, 0))));
    transition: background-color 500ms cubic-bezier(0.32, 0.72, 0, 1);

    &[data-swiping] {
      transition-duration: 0ms;
    }

    &[data-state="open"] {
      animation: fade-in 250ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
    }
    &[data-state="closed"] {
      animation: fade-out 250ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
    }
  }
}
