:root {
  /* Color primitives */
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);

  --grey-50: oklch(0.9851 0 0);
  --grey-100: oklch(0.9702 0 0);
  --grey-200: oklch(0.9219 0 0);
  --grey-300: oklch(0.8699 0 0);
  --grey-400: oklch(0.7155 0 0);
  --grey-500: oklch(0.5555 0 0);
  --grey-600: oklch(0.4386 0 0);
  --grey-700: oklch(0.3715 0 0);
  --grey-800: oklch(0.2686 0 0);
  --grey-900: oklch(0.2046 0 0);
  --grey-950: oklch(0.1448 0 0);

  /* Semantic Tokens */
  --background: var(--grey-50);
  --background-hover: var(--grey-100);
  --surface: var(--white);
  --surface-hover: var(--grey-50);

  --content-primary: var(--grey-900);
  --content-secondary: var(--grey-600);
  --content-tertiary: var(--grey-500);

  --separator: var(--grey-200);

  --brand: var(--grey-900);
  --brand-foreground: var(--grey-50);
  --brand-hover:   var(--grey-700);
}

html.dark {
  --background: var(--grey-900);
  --background-hover: var(--grey-800);
  --surface: var(--grey-950);
  --surface-hover: var(--grey-900);

  --content-primary: var(--grey-50);
  --content-secondary: var(--grey-400);
  --content-tertiary: var(--grey-500);

  --separator: var(--grey-800);

  --brand: var(--grey-100);
  --brand-foreground: var(--grey-900);
  --brand-hover:   var(--grey-200);
}

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}
