:root {
  /* Color primitives */
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);

  --grey-50: oklch(0.9851 0 0);
  --grey-100: oklch(0.9702 0 0);
  --grey-200: oklch(0.9219 0 0);
  --grey-300: oklch(0.8699 0 0);
  --grey-400: oklch(0.7155 0 0);
  --grey-500: oklch(0.5555 0 0);
  --grey-600: oklch(0.4386 0 0);
  --grey-700: oklch(0.3715 0 0);
  --grey-800: oklch(0.2686 0 0);
  --grey-900: oklch(0.2046 0 0);
  --grey-950: oklch(0.1448 0 0);

  --red-50: oklch(0.9705 0.0129 17.38);
  --red-100: oklch(0.9356 0.0309 17.72);
  --red-200: oklch(0.8845 0.0593 18.33);
  --red-300: oklch(0.8077 0.1035 19.57);
  --red-400: oklch(0.7106 0.1661 22.22);
  --red-500: oklch(0.6368 0.2078 25.33);
  --red-600: oklch(0.5771 0.2152 27.33);
  --red-700: oklch(0.5054 0.1905 27.52);
  --red-800: oklch(0.4437 0.1613 26.9);
  --red-900: oklch(0.3958 0.1331 25.72);
  --red-950: oklch(0.2575 0.0886 26.04);

  /* Semantic Tokens */
  --background: var(--grey-50);
  --background-hover: oklch(from var(--grey-100) calc(l * 0.985) c h);
  --surface: var(--white);
  --surface-hover: oklch(from var(--grey-50) calc(l * 0.985) c h);

  --content-primary: var(--grey-900);
  --content-secondary: var(--grey-600);
  --content-tertiary: oklch(from var(--grey-400) calc(l * 0.95) c h);

  --separator: var(--grey-200);

  --brand: var(--grey-900);
  --brand-foreground: var(--grey-50);
  --brand-hover: var(--grey-700);

  --danger: var(--red-100);
  --danger-foreground: var(--red-600);

  --selection: var(--grey-200);
}

html.dark {
  --background: oklch(from var(--grey-900) calc(l * 0.85) c h);
  --background-hover: oklch(from var(--grey-800) calc(l * 0.85) c h);
  --surface: var(--grey-950);
  --surface-hover: oklch(from var(--grey-900) calc(l * 1.1) c h);

  --content-primary: var(--grey-50);
  --content-secondary: var(--grey-300);
  --content-tertiary: var(--grey-500);

  --separator: oklch(from var(--grey-800) calc(l * 0.85) c h);

  --brand: var(--grey-100);
  --brand-foreground: var(--grey-900);
  --brand-hover: var(--grey-200);

  --danger: var(--red-950);
  --danger-foreground: var(--red-400);

  --selection: var(--grey-800);
}

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: var(--selection);
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--selection);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: oklch(from var(--selection) calc(l * 0.95) c h);
}
